<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templates/thymeleaf_layout">
<head>
    <meta charset="UTF-8">
    <script defer th:src="@{/js/config.js?n=4}"></script>
    <title>Title</title>
</head>
<th:block layout:fragment="content">
    <div class="ui left aligned container mb20">
        <table class="ui mini celled table">
            <thead>
            <tr id="head_tr">
                <th>이름</th>
                <th></th>
                <th>탑</th>
                <th>정글</th>
                <th>미드</th>
                <th>원딜</th>
                <th>서폿</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="champ : ${champs}" th:class="${champ.ennm}">
                <td th:text="${champ.krnm}"></td>
                <td class="tact">
                    <div class="ui checkbox parent" th:classappend="${champ.ennm}"><input type="checkbox"></div>
                </td>
                <td class="tact">
                    <div class="ui checkbox top_lane child" th:classappend="${champ.ennm}"><input type="checkbox" th:attr="checked=${#lists.contains(top, champ.idx)} ? '' : null"></div>
                </td>
                <td class="tact">
                    <div class="ui checkbox jungle_lane child" th:classappend="${champ.ennm}"><input type="checkbox" th:attr="checked=${#lists.contains(jungle, champ.idx)} ? '' : null"></div>
                </td>
                <td class="tact">
                    <div class="ui checkbox middle_lane child" th:classappend="${champ.ennm}"><input type="checkbox" th:attr="checked=${#lists.contains(middle, champ.idx)} ? '' : null"></div>
                </td>
                <td class="tact">
                    <div class="ui checkbox bottom_lane child" th:classappend="${champ.ennm}"><input type="checkbox" th:attr="checked=${#lists.contains(bottom, champ.idx)} ? '' : null"></div>
                </td>
                <td class="tact">
                    <div class="ui checkbox support_lane child" th:classappend="${champ.ennm}"><input type="checkbox" th:attr="checked=${#lists.contains(support, champ.idx)} ? '' : null"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>