<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templates/thymeleaf_layout">
<head>
    <meta charset="UTF-8">
    <script defer th:src="@{/js/config.js?n=4}"></script>
    <title>Title</title>
</head>
<th:block layout:fragment="content">
    <div class="ui left aligned container mb20">
        <div class="frow jcright gap5">
            <div class="ui basic mini button" id="cancelBtn">변경 취소</div>
            <div class="ui secondary mini button" id="saveBtn">변경 저장</div>
        </div>
        <table class="ui mini celled table">
            <thead>
            <tr id="head_tr">
                <th class="tact">이름</th>
                <th class="tact"></th>
                <th class="tact">탑</th>
                <th class="tact">정글</th>
                <th class="tact">미드</th>
                <th class="tact">원딜</th>
                <th class="tact">서폿</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="champ : ${champs}" th:class="${champ.ennm}" th:data-idx="${champ.idx}">
                <td th:text="${champ.krnm}"></td>
                <td class="tact">
                    <div class="ui checkbox parent" th:classappend="${champ.ennm}"><input type="checkbox"></div>
                </td>
                <td class="tact">
                    <div class="ui checkbox child" th:classappend="${champ.ennm}" data-lane="top"><input type="checkbox" th:attr="checked=${#lists.contains(top, champ.idx)} ? '' : null"></div>
                </td>
                <td class="tact">
                    <div class="ui checkbox child" th:classappend="${champ.ennm}" data-lane="jungle"><input type="checkbox" th:attr="checked=${#lists.contains(jungle, champ.idx)} ? '' : null"></div>
                </td>
                <td class="tact">
                    <div class="ui checkbox child" th:classappend="${champ.ennm}" data-lane="middle"><input type="checkbox" th:attr="checked=${#lists.contains(middle, champ.idx)} ? '' : null"></div>
                </td>
                <td class="tact">
                    <div class="ui checkbox child" th:classappend="${champ.ennm}" data-lane="bottom"><input type="checkbox" th:attr="checked=${#lists.contains(bottom, champ.idx)} ? '' : null"></div>
                </td>
                <td class="tact">
                    <div class="ui checkbox child" th:classappend="${champ.ennm}" data-lane="support"><input type="checkbox" th:attr="checked=${#lists.contains(support, champ.idx)} ? '' : null"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>